/* MAIN SITE */

html {
font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

p {
color: #333333;
font-family: 'Domine', Georgia, 'Times New Roman', serif;
font-size: 1rem;
line-height: 1.5rem;

}

a img {
border: none;
}

#bold {
	font-weight: bold;
}

/* HEADER */

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	height:auto;
	background: #2F4778;
	margin-left: -0.5em;
	padding:0.5em;
	top:0;
}
.header-1 {
	max-width: 100%;
	width: 80%;
	height: 80%;
}
.header-2_button {
	position: relative;
	max-width: 100%;
	width: 60%;
	height: 110%;
	float:right;
	cursor: pointer;
	margin-top: -8px;
	top: 0.25em;



}
/* The container <div> - needed to position the dropdown content */
.header-2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.header-2_content {
  display: none;
  position: absolute;
  background-color: #1B2945;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.header-2_content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.header-2_content a:hover {
	background-color: white;
	color: #1B2945;
}

/* Show the dropdown menu on hover */
.header-2:hover .header-2_content {
  display: block;
}

.editor_menu {
	margin-top: 5em;
}

/* QUICK LINKS FOR MOBILE */

/* ACCESS BOTTOM FOR MOBILE */
.bottom {
	display: flex;
	background-color: #000000;
	justify-content: center;
	text-decoration: none;
}

/* FOOTER FOR MOBILE */
.footer {
	display: flex;
	position: fixed;
	background-color: #4d75c4;
}
