/* MAIN SITE */
html {
	font-size: 100%;
}
body {
	width: 100%;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1 {
	margin: 0 0 0 20px;
	color:#4d75c4;
	font-size: 50px;
}
h2 {
	margin-left: 20px;
}
h3 {
	margin-left: 25px;
}

p {
	color: #333333;
	font-family: 'Domine', Georgia, 'Times New Roman', serif;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-left: 20px;
}

a {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
ul {
	list-style: none;
}

a img {
	border: none;
}

#bold {
	font-weight: bold;
}

/* HEADER */

.header {
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
	background: #2F4778;
	padding: 0 0;
	height: auto;
	position: fixed;
	top:0;
	width:100%;
}

.header_logo {
	max-width: 240px;
	margin: 12px 0 0 12px;
}

.header_menu{
	display: flex;
	flex-flow: column;
	align-content: center;
	margin-right: 1em;
	margin-top: 0.1em;
	margin-bottom: 1.4em;
	width: 2em;
	height: 2em;
	padding:0;
}

.menu_button_mobile {
	margin-top:0;
	padding: 0;
	font-size: 2.2em;
	cursor: pointer;
	color: white;
	line-height: 1.1em;
}

.header h2 {
	color: white;
	font-size: 0.5em;
	margin-left: 0.25em;
	margin-right: 0;
	margin-top: 0;
}

.header a {
	color: white;
	text-decoration: none;
}

.header_logo img {
	width: 100%;
}

.desktop_nav{
	display: none;
}

.roles_nav{
	display: none;
}

.desktop_nav_item{
	display: none;
}

.menu_button_desktop{
	display: none;
}

nav {
	display: flex;
	display: none;
	flex-flow: column;
  background: #4d75c4;
	color:white;
  width:100%;
	margin: 0;
	padding: 0 24px;
	text-decoration: none;
}

.dropdown_items{
	margin-left: 25vw;
	border-left: 3px solid white;
	height: 100%;
	padding: 5px;
}

nav a {
	display: block;
	padding: 15px 20px;
	text-align: left;
	color: white;
	background: #1B2945;
	font-size: 18px;
	margin: 12px;
	margin-left: 1.5em;
	margin-right: 0;
	padding: 8px 16px;
}
nav .search-container {
	display: flex;
	justify-content: flex-end;
	padding: 8px 0;
}

nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
	width: 35vw;
	max-width: 300px;
  font-size: 14px;
  border: none;
}
nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  background: #1B2945;
	color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
nav .search-container button:hover {
  background: white;
	color: #1B2945;
}
/* END OF HEADER STYLING */

/* PAGE SPECIFIC STYLING */
.editor_menu {
	margin-top: 5em;
}

.important_links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 5px;
	margin-top: 20vh;
}
.important_links a {
	display: flex;
	justify-content: center;
	width: 65px;
	padding:15px 12.5px;
	color: white;
	background: #1B2945;
	text-decoration: none;
}

.important_links a:link, .button a:visited{

}

.index_paragraph {
	margin:20px;
	margin-bottom: 30px;
}
.index_paragraph h2 {
	color:#4d75c4;
	font-size: 50px;
	margin-bottom: 0;
}

.quick_links {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #2F4778;
	color: white;
	width:100%;
}
.quick_links a{
	background: #2F4778;
	padding: 10px 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
	text-decoration: none;
	width:100%;
}


.quick_links h2 {
	text-decoration: none;
}

.quick_links a:link, .quick_links a:visited {
	text-align: center;
  text-decoration: none;
  display: flex;
	flex-direction: column;
	font-weight:bolder;
}

.quick_links a:hover, .quick_links a:active {
  background: #1B2945;
  color: white;
	text-decoration: underline;
}

#page_title {
	margin-left: 0;
}

.button {
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	margin:10px;
	margin-right: -10px;
}

.button a:link, .button a:visited {
  background: white;
  color: black;
	padding: 8px 16px;
	margin: 10px;
	border: 3px solid black;
	width:70%;
  text-align: center;
  text-decoration: none;
  display: flex;
	flex-direction: column;
	font-weight:bolder;
}

.button a:hover, .button a:active {
  background: black;
  color: white;
}

.twitter {
	padding-left: 20px;
}
/*inside page menus*/

.insidemenu {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 50%;
	padding: 10px;
	border: 3pt black solid;
}

.insidemenu a {
	color: black;
	text-decoration: underline;
}

.videowrapper {
	margin-left: 5%
}

.videowrapper iframe{
	padding-bottom: 25px
}

.editor_grid {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template: repeat(auto-fill, minmax(200px, 1fr)) / repeat(auto-fill, minmax(300px, 1fr));
	gap: 10px;
}

.editor_pics {
	margin-left: 20px;
	margin-bottom: 50px;
}

/*for the general resources page*/
.general_resources {
	margin-top: 110px;
}

.resourcesbutton {
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	margin:20px 20px 0 0;
	float: none;
}

.resourcesbutton a:link, .resourcesbutton a:visited {
	background: white;
  color: black;
	padding: 8px 16px;
	margin: 10px;
	border: 3px solid black;
	width:70%;
  text-align: center;
  text-decoration: none;
  display: flex;
	flex-direction: column;
	font-weight:bolder;
	box-sizing: border-box;
}

.resourcesbutton a:hover, .resourcesbutton a:active {
	background-color:black;
	color: white;
}

.general_resources h2 {
	margin: 20px 0 10px 0;
}

.general_resources p {
	padding:5px;
	margin: 0;
}

.general_resources a:link, .general_resources a:visited {
	text-decoration: none;
}

.general_resources a:hover, .general_resources a:active {
	text-decoration: underline;
	font-weight: bolder;
}

/* FOOTER FOR MOBILE */
.footer {
	margin: 30px 0 0 0;
	background: #4d75c4;
}
.footer img {
	width:70%;
	max-width: 280px;
	margin: 20px 0 0 20px;
}
.footer ul {
	padding: 5px 0 15px 16px;
	margin: 0;
}
.footer li {
	color: white;
	text-align:left;
	padding: 5px;
}

/* DESKTOP STYLING */
@media screen and (min-width:600px){

	.header{
		/* not sure if we want the header to be static or fixed on desktop?? */
		/* position: static; */
		flex-flow:row;
		justify-content: flex-start;
	}

	.header_logo{
			max-width:500px;
			min-width:100px;
			margin: 12px;
		}

	.desktop_nav{
		display: flex;
		flex-flow:row nowrap;
	}

	.desktop_nav a{
		align-items: center;
	}

	.desktop_nav a:hover, .desktop_nav a:active {
	  background: #1B2945;
	}

	.desktop_nav_div{
		position: relative;
		display: inline-block;
	}
	.menu_button_desktop{
	}

	.roles_nav{
		display: none;
 		position: absolute;
	  background: #4d75c4;
		color:white;
	  width:100%;
		margin: 0;
		text-decoration: none;
		font-size: 14px;
		border-left: 2px solid white;
		border-right: 2px solid white;
	}

	.roles_nav a{
		display: flex;
		justify-content: center;
		width:100%;
		margin: 0;
		padding: 10px 0;
		border-bottom: 1px solid white;
	}
	.roles_nav a:hover, .roles_nav a:active {
		background: #1B2945
	}

	.desktop_nav_div:hover .roles_nav{
		display: flex;
		flex-flow: column;
	}
	.desktop_nav_item{
		display: flex;
		padding: 0 15px;
		margin: 0 0;
		height:100%;
		text-align: center;
		border-left: 1.5px solid white;
	}

	.desktop_nav_item:last-child{
		border-right: 1.5px solid white;
		margin-right: 3px;
	}
	.header_menu{
			display: none;
		}

	nav {
		display: flex;
		flex-flow: row;
		background: #2F4778;
		width: auto;
		padding:0;
		margin: 5px 10px;
		margin-bottom: 10px;
	}

	.dropdown_items {
		display: flex;
		flex-flow:row;
		justify-content: flex-end;
		margin:0;
		padding:0;
		white-space: nowrap;
		border-left: none;
	}

	nav a{
		display: none;
		background: #2F4778;
		margin:0;
		padding:10px 10px;
	}

	nav .search-container{
		padding:0;
		align-items: center;
	}

	nav input[type=text]{
		width: 12vw;
		max-width: none;
		margin-right:0;
	}

	nav .search-container button{
		float:none;
		margin-right: 0;
	}

	.footer img {
		width:280px;
	}

	.button {
		flex-flow: row
	}

	.resourcesbutton {
		flex-flow: column;
		height: 10%;
		float:left;
	}

	.insidemeu{
		padding-right: none;
	}
	.gridmenu {grid-area: a;}
	.gridcontent {grid-area: b;}
	.twitter {grid-area: c;}
	.grid {
			display: grid;
			grid-gap: 10px;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas:
					"a b b "
					"a b b "
					"c b b "
		}
}

@media screen and (min-width:1024px){

	.desktop_nav_item{
		font-size:20px;
	}

	nav input[type=text]{
		width: 15vw;
	}
}

@media screen and (min-width:1440px){

	.header{
		justify-content: space-between;
	}

	.desktop_nav a{
		font-size: 25px;
		padding: 0 50px;
	}

	.roles_nav a{
		padding: 10px 0;
	}
}
