/* MAIN SITE */
html {
	font-size: 100%;
}
body {
	margin-left: -10px;
	margin-top: -10px;
	margin-right:0;
	margin-bottom: -20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1 {
	margin-left: 20px;
}
h2 {
	margin-left: 20px;
}
h3 {
	margin-left: 25px;
}

p {
	color: #333333;
	font-family: 'Domine', Georgia, 'Times New Roman', serif;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-left: 20px;
}

a {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
ul {
	list-style: none;
}

a img {
	border: none;
}

#bold {
	font-weight: bold;
}

/* HEADER */

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #2F4778;
	top:0;
	padding: 10px;
	height: auto;
}
.header a {
}
.header-1 {
	width: 100%;
	height:auto;
	margin-top: 5px;
	margin-left: 5px;
}
.header-2_button {
	display: flex;
	width: 14%;
	max-width: 200px;
	height: auto;
	float:right;
	cursor: pointer;
	margin-top: 2px;
	margin-left: 10px;
}
/* The container <div> - needed to position the dropdown content */

/* Dropdown Content */
.dropdown_menu {
  display: flex;
	flex-direction: column;
	top: 200px;
  background: #4d75c4;
	color:white;
  min-width: 160px;
	padding-bottom: 10px;
}
.dropdown_menu a {
	color: white;
	text-decoration: none;
	background: #1B2945;
	float: right;
	margin-left: 10rem;
	margin-right: 1rem;
	margin-bottom: 15px;
	margin-top: 10px;
	font-size: 18px;
	padding: 8px 16px;
}
.dropdown_menu .search-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: 100px;
	margin-right: 1rem;
	margin-bottom: 10px;
}
.dropdown_menu input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 14px;
  border: none;
	margin-left: 10px;
	width:106px;
}
.dropdown_menu .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  background: #1B2945;
	color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.dropdown_menu .search-container button:hover {
  background: white;
	color: #1B2945;
}

/* Links inside the dropdown */
.header-2_content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.header-2_content a:hover {
	background: white;
	color: #1B2945;
}
.header-2:hover .header-2_content {
  display: block;
}
.editor_menu {
	margin-top: 5em;
}
/* quick access button */
.links a {
	text-decoration: none;
}
.important_links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 30px;
	margin-left: 20px;
	margin-right: 5px;
}
.important_links a {
	display: flex;
	justify-content: center;
	width: 65px;
	padding:15px 12.5px;
	color: white;
	background: #1B2945;
}
.quick_links {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #2F4778;
	color: white;
}
.quick_links a {
	padding: 10px 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
}

.index_paragraph {
	margin:40px;
}
.index_paragraph h2 {
	color:#4d75c4;
	font-size: 50px;
	margin-bottom: 0;
}
#page_title {
	margin-left: 0;
}
.button {
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	margin:10px;
	margin-right: -10px;
}
.button a:link, .button a:visited {
  background: white;
  color: black;
	padding: 8px 16px;
	margin: 10px;
	border: 3px solid black;
	width:70%;
  text-align: center;
  text-decoration: none;
  display: flex;
	flex-direction: column;
	font-weight:bolder;
}
.button a:hover, .button a:active {
  background: black;
  color: white;
}
/*inside page menus*/

.insidemenu {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	margin-left: 20px;
}

.editor_pics {
	margin-left: 20px;
	margin-bottom: 50px;
}
/* FOOTER FOR MOBILE */
div.footer {
	margin: 30px 0 0 0;
	background: #4d75c4;
}
.footer p {
	color: white;
	text-align:left;
}
